<div id="<%= dom_id comment %>">
  <p>
    <strong>Authordid:</strong>
    <%= comment.authordId %>
  </p>

  <p>
    <strong>Postid:</strong>
    <%= comment.postid %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Updateat:</strong>
    <%= comment.UpdateAt %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= comment.CreatedAt %>
  </p>

</div>
