<div id="<%= dom_id comment %>">
  <p>
    <strong>Authordid:</strong>
    <%= comment.author_id %>
  </p>

  <p>
    <strong>Postid:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Updateat:</strong>
    <%= comment.updated_at %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= comment.created_at %>
  </p>

</div>
