<div id="<%= dom_id like %>">
  <p>
    <strong>Authorid:</strong>
    <%= like.author_id %>
  </p>

  <p>
    <strong>Postid:</strong>
    <%= like.post_id %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= like.created_at %>
  </p>

  <p>
    <strong>Updatedat:</strong>
    <%= like.updated_at %>
  </p>

</div>
