<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= user.photo %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Updatedat:</strong>
    <%= user.UpdatedAt %>
  </p>

  <p>
    <strong>Creaetedat:</strong>
    <%= user.CreaetedAt %>
  </p>

  <p>
    <strong>Postscounter:</strong>
    <%= user.PostsCounter %>
  </p>

</div>
