<div class="user_detail_div">
    <div class="user_detail_photo">Img Link here</div>
    <div class="user_detail_name"> <%= @user.name %></div>
    <div class="user_detail_bio"><%= @user.bio %></div>
     <% @user.return_posts.each do |post| %>
        <div>
          <div ><%= post.title %></div>
          <div>
            <h5 ><%= post.title %></h5>
            <p ><%= post.text.slice(0,70)%> ...</p>
          </div>
        </div>
      <% end %> 
    
</div>
 <button><%= link_to user_posts_url(user_id:@user.id), class:'nav-link' do%>See All Posts</button>
 <% end %>