<div class="user_detail_posts">
<% @posts.each do |post| %>
<button><%= link_to user_post_url(id: post.id, user_id:@user.id), class:'nav-link' do%>See Post Details</button>
<% end %>
<p><%= post.title %></p>
<p><%= post.text %></p>
<p><%= @user.name %></p>
<% end %>
<button><%=  link_to "Add New post", new_user_post_path(user_id: @user.id) %> </button>
</div>